<!-- <div class="alert alert-success" role="alert">
  Formulário enviado com sucesso!
</div> -->


<form class="container" #teamForm="ngForm">
  <div class="form-group">
    <label class="control-label" for="nome">Nome do Time</label>
    <input type="text" class="form-control" id="name" required [(ngModel)]="newTeam.name" name="name">
  </div>
  <div class="form-group">
    <label class="control-label" for="nameStadium">Nome do Estádio</label>
    <input type="text" class="form-control" id="nameStadium" required [(ngModel)]="newTeam.nameStadium" name="nameStadium">
  </div> 
  <hr />
  <div class="form-group text-center">
    <button type="submit" class="btn btn-primary" (click)="addPlayer(); teamForm.reset()">Enviar</button>
  </div>
</form>
