<div>
  <h1 style="text-align:center">
    Welcome to {{ title }}!
  </h1>
  <main>
      <div>
            <nav style="text-align:center">
                <a routerLink="/form" routerLinkActive="active">FORMULARIOS</a> |
                <a routerLink="/listPlayers" routerLinkActive="active">LISTA DE JOGADORES</a> |
                <a routerLink="/listTeams" routerLinkActive="active">LISTA DE TIMES</a> |
                <a routerLink="/listAll" routerLinkActive="active">LISTA DE TUDO</a>
            </nav>
            <hr />
          <router-outlet></router-outlet>
      </div>
  </main>